body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.chat-container {
    width: 90%;
    max-width: 450px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.chat-header {
    background-color: #0c8727;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px 15px;
}

.header-left {
    display: flex;
    align-items: center;
}

.logo {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.bot-name{
        font-size: 15px;
        font-family: "Georgia", serif;
    }

.chat-messages {
    flex-grow: 1;
    overflow-y: auto;
    padding: 15px;
    background-color: #fafafa;
}

.message {
    margin-bottom: 12px;
}

.user-message {
    text-align: right;
}

.bot-message {
    text-align: left;
}

.message-text {
    display: inline-block;
    padding: 10px 14px;
    border-radius: 12px;
    background: #e1f0ff;
    max-width: 75%;
}

.user-message .message-text {
    background: #0c8226;
    color: white;
}

.chat-input-container {
    display: flex;
    border-top: 1px solid #ccc;
    padding: 10px;
    background: #fff;
}

.chat-input {
    flex-grow: 1;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 14px;
}

.send-btn {
    background-color: #1b8525;
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-left: 10px;
    cursor: pointer;
}

.send-btn:hover {
    background-color: #189e59;
}

/* ===== RESPONSIVE DESIGN ===== */
@media screen and (max-width: 600px) {
    body {
        align-items: flex-start;
    }

    .chat-container {
        width: 100%;
        height: 100vh;
        border-radius: 0;
        box-shadow: none;
    }

    .logo {
        width: 35px;
        height: 35px;
    }


    .chat-input {
        font-size: 13px;
    }
}
